@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home";
}

@if (TempData["SuccessMessage"] != null)
{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var successMessage = '@TempData["SuccessMessage"]';
            if (successMessage) {
                toastr.success(successMessage);
            }
        });

    </script>
}

<div class=" d-flex justify-content-center align-items-center text-center" style="height: 70vh; overflow-y: hidden">
    <div 500px>
        <h1 class="display-4" style="color:white">Bem-vindo!</h1>
        <p style="color:white; width: 595px;">Descubra o AgroConnect, o portal onde você pode comprar produtos frescos de diversas fazendas urbanas e acompanhar seus pedidos de maneira simples e rápida!</p>
    </div>
</div>
